<%= render partial: "users/errors", locals: {user: @superpower} %>

<%= form_for @superpower do |f| %>
    <h3>Superpower: </h3>
        <%= f.label :name %>
        <%= f.text_field :name %>
    <%= f.submit %>
<% end %>
     