<h1>New User</h1>

<%= render partial: "users/errors", locals: {user: @user} %>

<%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit %>
    
<% end %>    