<%= render partial: "users/errors", locals: {user: @character} %>

<%= form_for @character do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :alias %>
  <%= f.text_field :alias %><br>

  <h3>Superpowers:</h3>
  <%= f.collection_check_boxes :superpowers, Superpower.all, :id, :name %>
  # { checked: (b.current_company_floors(params[:id])) } 
  
  <br>
  <%= f.submit %>
 <% end %>
