
<!DOCTYPE html>
<html>
  <head>
    <title>MarvelTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body>
  <div class="navbar" id="navbar">
    <div class="navbar-header">
      <% c_user = current_user %>
      <% if !c_user.nil? %>
        <strong>User Name: <%= c_user.name %></strong>
        <strong><%= link_to "My Page", show_user_path(c_user.id) %></strong>
        <strong><%= link_to "Logout", session_path, method:"delete" %></strong>
        <div class="nav-right">
          <%= link_to "Home", root_url %> <%= link_to "Battles", battles_path %>
          <%= link_to "Characters", characters_path %> 
          <%= link_to "Movies", movies_path %> 
          <%= link_to "Superpowers", superpowers_path %>
        </div>
      <% else %> 
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Sign In", signin_path %>
        <a href="/auth/facebook">Login with Facebook</a>
      <% end %>
      <br>
    </div>
  </div>
    <div class="nav-flash">
      <ul class="nav navbar-nav">
        <% flash.each do |key, value| %> 
          <%= content_tag :div, value, class:"flash_#{key}" %> 
        <% end %>
      </ul>
    </div>
  <div class="container" role="main">
    <% if flash[:notice] %> 
      <% flash.each do |key, value| %> 
        <%= content_tag :div, value, class: "flash_#{key}" %> 
      <% end %> 
    <% end %> 
  <%= yield %>
  </div>
</body>

</html>